# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# File Not to add 
FrontEnd/src/pages/Anime_Section/Manga.jsx
FrontEnd/src/pages/Anime_Section/FavList.jsx
FrontEnd/src/pages/Anime_Section/FavList.jsx
FrontEnd/src/pages/Anime_Section/AllAnimeSection.jsx
FrontEnd/UTextFiles
